header {
  height: 100px;
  background-image: url(../img/header/header.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #754668;
}
