.navbar {
  background-color: #a57bf4;
  color: white;
  height: 4em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-izq {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-left: 1em;
}

.nav-der {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-right: 1em;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

.btn {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: color 2s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn:hover {
  color: #f4d07b;
}

.active {
  border-bottom: 2px solid #f4d07b;
<<<<<<< HEAD
}
=======
}
>>>>>>> 2ec9591 (Versión 0.1.5 (css))
