nav{
    display: flex;
    background-color: #a57bf4;
    justify-content: space-between;
    height: 3em;
    align-items: center;
  }
  
  nav a{
    color: white;
    text-decoration: none;
  }
  
  .nav-izq{
    margin-left: 4em;
    display: flex;
    gap: 3em;
  }
  
  .nav-der{
    margin-right: 4em;
    display: flex;
    gap: 3em;
  }