.perfil-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #cda2b4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perfil-container h3 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
    padding: 1%;
}

.box-img-form {
    display: flex;
    flex-direction: row;
    gap: 70px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.rounded-circle {
    border-radius: 50%;
    border: 2px solid #a57bf4;
}

.box-img-form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.box-img-form p {
    margin: 5px 0;
    font-size: 16px;
}

.modificar-btn {
    background-color: #f4d07b;
    color: rgb(0, 0, 0);
    border: 1px solid #f4d07b;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.modificar-btn:hover {
    background-color: #ffc234;
}

.publicacion-btn {
    background-color: #6cc6ac;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.publicacion-btn:hover {
    background-color: #58b19f;
}

.box-btn {
    margin-top: 30px;
}
